html,
body {
    width: 99%;
    height: 99%;
    display: flex;
    background: radial-gradient(
        circle,
        rgba(255, 221, 226, 1) 46%,
        rgba(0, 140, 118, 1) 100%
    );
}
#root {
    width: 400px;
    height: 700px;
    margin: auto;
}
#display {
    height: 200px;
    background-color: #008c76;
    color: white;
    text-align: right;
    padding: 10px;
    font-size: 100px;
    position: relative;
    border-radius: 8px 8px 0 0;
}
#text {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#buttonContainer {
    display: flex;
}
#numberContainer {
    width: 300px;
}
#operatorContainer {
    width: 100px;
}
button {
    height: 100px;
    width: 100px;
    font-size: 35px;
    text-align: center;
    border: 1px solid #9ed9cc;
    color: #9ed9cc;
    border-radius: 3px;
}
.ceroNumberKey {
    width: 200px;
    background-color: #faa094;
    border-radius: 3px 3px 3px 8px;
}
.startNumberKey,
.operatorKey,
.operatorEnterKey {
    background-color: #9ed9cc;
    color: #faa094;
    border: 1px solid #faa094;
}
.operatorEnterKey {
    border-radius: 3px 3px 8px 3px;
}
.numberKey {
    background-color: #faa094;
}
button:hover {
    filter: brightness(85%);
}
button:active {
    filter: brightness(75%);
}
